name: CI(server)

on:
  push:
    branches: [master]
    paths:
      - .cargo/**
      - .github/workflows/**
      - ci/**
      - crates/**
      - Cargo.lock
      - Cargo.toml
  pull_request:
    branches: [master]

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 0
  CARGO_PROFILE_TEST_DEBUG: 0

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-build-stable-${{ hashFiles('**/Cargo.toml') }}
      - uses: dtolnay/rust-toolchain@stable
      - uses: ./.github/actions/setup-llvm
      - name: Build
        run: cargo build --verbose --locked
      - name: Check dependencies
        run: |
          chmod +x ci/list-elf-needed.sh
          diff -u ci/linux-x86_64-ubuntu24.04-lsp.dt-needed.txt <(ci/list-elf-needed.sh target/debug/lsp)

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true
      - uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-build-stable-${{ hashFiles('**/Cargo.toml') }}
      - uses: dtolnay/rust-toolchain@stable
      - uses: ./.github/actions/setup-llvm
      - name: Run tests
        run: cargo test --verbose --locked
