name: Release

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

permissions:
  contents: write

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: true

      - name: Get the release version from the tag
        shell: bash
        run: echo "VERSION=${{ github.ref_name }}" >> $GITHUB_ENV

      - name: Check that tag version and Cargo.toml version are the same
        shell: bash
        run: |
          if ! grep -q "version = \"${VERSION}\"" Cargo.toml; then
            echo "version does not match Cargo.toml" >&2
            exit 1
          fi

      - name: Check that tag version and package.json version are the same
        shell: bash
        run: |
          if ! grep -q "\"version\": \"${VERSION}\"," vscode/package.json; then
            echo "version does not match package.json" >&2
            exit 1
          fi

      - name: Create GitHub release
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release create ${VERSION} --draft --verify-tag --title ${VERSION}
    outputs:
      version: ${{ env.VERSION }}

  build-server:
    needs: ["create-release"]
    runs-on: ${{ matrix.os }}
    env:
      CROSS_VERSION: v0.2.5
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-24.04
            target: x86_64-unknown-linux-gnu
            llvm-arch: X64
          - os: ubuntu-24.04-arm
            target: aarch64-unknown-linux-gnu
            llvm-arch: ARM64
          - os: macos-latest
            target: aarch64-apple-darwin
            llvm-arch: ARM64
          - os: windows-2025
            target: x86_64-pc-windows-msvc
            llvm-arch: X64
          - os: windows-11-arm
            target: aarch64-pc-windows-msvc
            llvm-arch: ARM64

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          target: ${{ matrix.target }}

      - name: Install LLVM (ubuntu)
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: .github/scripts/setup-llvm.sh

      - name: Build release binary (ubuntu)
        if: ${{ matrix.os == 'ubuntu-latest' }}
        shell: bash
        run: |
          cargo build --release --target ${{ matrix.target }} --verbose
          bin="target/${{ matrix.target }}/release/tablegen-lsp-${{ github.ref_name }}-${{ matrix.target }}"
          mv target/${{ matrix.target }}/release/lsp ${bin}
          echo "BIN=${bin}" >> $GITHUB_ENV

      - name: Install LLVM (macos)
        if: ${{ matrix.os == 'macos-latest' }}
        run: .github/scripts/setup-llvm.sh

      - name: Build release binary (macos)
        if: ${{ matrix.os == 'macos-latest' }}
        shell: bash
        run: |
          cargo build --release --target ${{ matrix.target }} --verbose
          bin="target/${{ matrix.target }}/release/tablegen-lsp-${{ github.ref_name }}-${{ matrix.target }}"
          mv target/${{ matrix.target }}/release/lsp ${bin}
          echo "BIN=${bin}" >> $GITHUB_ENV

      - name: Install LLVM (windows)
        if: ${{ matrix.os == 'windows-latest' }}
        run: .github/scripts/setup-llvm.ps1

      - name: Build release binary (windows)
        if: ${{ matrix.os == 'windows-latest' }}
        shell: bash
        run: |
          cargo build --release --target ${{ matrix.target }} --verbose
          bin="target/${{ matrix.target }}/release/tablegen-lsp-${{ github.ref_name }}-${{ matrix.target }}.exe"
          mv target/${{ matrix.target }}/release/lsp.exe ${bin}
          echo "BIN=${bin}" >> $GITHUB_ENV

      - name: Upload release binary
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          version="${{ needs.create-release.outputs.version }}"
          gh release upload "${version}" "${{ env.BIN }}"

  build-client:
    needs: ["create-release", "build-server"]
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./vscode
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install dependencies
        run: npm ci

      - name: Download server binaries
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mkdir -p server
          gh release download "${{ needs.create-release.outputs.version }}" --pattern "tablegen-lsp-*" --dir server
          chmod 0755 server/*

      - name: Package client
        run: npm run package

      - name: Upload client
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release upload "${{ needs.create-release.outputs.version }}" "tablegen-lsp-${{ needs.create-release.outputs.version }}.vsix"

      - name: Publish extension
        shell: bash
        run: npx vsce publish --pat "${{ secrets.VSCE_TOKEN }}" --packagePath "tablegen-lsp-${{ needs.create-release.outputs.version }}.vsix"

  publish-release:
    needs: ["create-release", "build-server", "build-client"]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: true

      - name: Publish release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          version="${{ needs.create-release.outputs.version }}"
          gh release edit "${{ needs.create-release.outputs.version }}" --draft=false
